@import '~codemirror/lib/codemirror.css';
@import '~tippy.js/dist/tippy.css';
@import '~tippy.js/animations/scale.css';
@import '~@primer/css/support/variables/color-system.scss';

.bytemd {
  border: 1px solid $gray-200;
  background-color: $white;
  box-sizing: border-box;
  height: 300px;
}

.bytemd-toolbar {
  padding: 4px;
  border-bottom: 1px solid $gray-200;
  font-size: 0;
  > span {
    display: inline-block;
    cursor: pointer;
    border-radius: 2px;
    margin-left: 4px;
    margin-right: 4px;
    font-size: 16px;
    color: $gray-800;
    svg {
      display: block;
      padding: 4px;
    }
    &:hover {
      color: $blue;
      background-color: $gray-000;
    }
  }
}

.bytemd-tabs {
  display: inline-block;
  vertical-align: top;
  span {
    cursor: pointer;
    padding-left: 8px;
    padding-right: 8px;
    line-height: 24px;
    font-size: 14px;
    &.bytemd-tab-active {
      color: $blue;
    }
  }
}

.tippy-box {
  font-size: 12px;
}

.bytemd-body {
  height: calc(100% - 33px);
  overflow: auto;
}

.bytemd-editor {
  overflow: hidden;
  height: 100%;
  .CodeMirror {
    height: 100%;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 1.5;
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
    pre.CodeMirror-placeholder {
      color: $gray-400;
    }
    .CodeMirror-lines {
      padding: 16px 0;
    }
    pre.CodeMirror-line,
    pre.CodeMirror-line-like {
      padding: 0 16px;
    }
  }
}

.bytemd-preview {
  height: 100%;
  overflow: auto;
  .markdown-body {
    padding: 20px;
  }
}

.bytemd-fullscreen {
  &.bytemd {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border: none;
    height: 100vh;
  }
}

.bytemd-mode-split {
  .bytemd-editor {
    float: left;
    width: 50%;
  }
  .bytemd-preview {
    margin-left: 50%;
    border-left: 1px solid $gray-200;
  }
}
