.image-viewer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
  background-color: rgba(0, 0, 0, 0.8);
  transition: opacity 200ms;
}
.image-viewer img {
  position: absolute;
  cursor: zoom-out;
}
.markdown-body img {
  cursor: zoom-in;
}
