.bytemd {
  border: 1px solid #e1e4e8;
  display: flex;
  flex-direction: column;
}

.bytemd-toolbar {
  display: flex;
  padding: 4px;
  background-color: #f6f8fa;
  border-bottom: 1px solid #e1e4e8;
}
.bytemd-toolbar > span {
  cursor: pointer;
  border: 1px solid transparent;
  margin-left: 4px;
  margin-right: 4px;
}
.bytemd-toolbar > span svg {
  display: block;
  width: 16px;
  height: 16px;
  padding: 4px;
  fill: #586069;
}
.bytemd-toolbar span:hover svg {
  fill: #0366d6;
}
.bytemd-tabs {
  display: flex;
}
.bytemd-tabs span {
  cursor: pointer;
  padding-left: 8px;
  padding-right: 8px;
  line-height: 26px;
  font-size: 14px;
}
.bytemd-tabs span.active {
  color: #0366d6;
}
.tippy-box {
  font-size: 13px;
}
.bytemd-info {
  position: absolute;
}

.bytemd-body {
  flex-grow: 1;
  display: flex;
  overflow: auto;
}
.bytemd-editor {
  flex: 1;
  overflow: hidden;
  height: 100%;
}
.bytemd-editor .CodeMirror {
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  font-size: 14px;
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
}
.bytemd-editor .CodeMirror pre.CodeMirror-placeholder {
  color: #999;
}
.bytemd-preview {
  flex: 1;
  overflow: auto;
  border-left: 1px solid #e1e4e8;
}
.bytemd-preview .markdown-body {
  padding: 20px;
}
